@import "../globalVariables";

.sidenav {
    background-color: #ffffff;
    position: fixed;
    top: $navHeight;
    left: 0;
    padding: 0px 0px 10px 0px;
    height: 100vh;
    max-width: $sideNav-x;
    width: $sideNav-x;
    z-index: 5;
    border-top: 1px solid #d2d2d2 ;

    @media (max-width: 700px) {
        & {
            max-height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            bottom: 0;
            left: 0;
            top: auto;
            z-index: 7;
            padding: 0;
            right: 0;
            min-width: 100%;
        }
    }
}