$sidebarOptionHoverBg: #ececec;
$sidebarOptionActiveBg: #d8d8d8;
$sidebarOptionIconLeft: 12px;
$sidebarOptionIconRight: 20px;
$sideNav-x: 77px;
$navHeight: 50px;
$navTagHeight: 51px;
$sideBar-x: 206px;
$mainContentBg: #f3f3f3;